@import "../varible.scss";

.popup {
  position: relative;
  border-radius: 4px;
  background-color: $colorBg;
  padding: 8px;
  @include shadow-10();
  min-width: 80px;
  min-height: 80px;
  max-width: 600px;
  &-modal {
    @include shadow-20();
  }
  &-tooltip-image {
  }
  &-thumnail {
  }
  &-tooltip {
  }
  &-tooltip-close {
  }
  &-close {
    padding-top: 32px;
  }
  &-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
  }
}
