@import "../varible.scss";

.icon {
  stroke: $colorIcon;
  &__secondary {
    stroke: $colorIconSecondary;
  }
  &__contrast {
    stroke: $colorIconContrast;
  }
  &__accent {
    stroke: $colorAccent;
  }
}
