@import "../varible.scss";

.tooltip {
  $self: &;
  position: relative;
  overflow: hidden;
  display: inline-flex;
  &-close {
    overflow: visible;
    #{$self}-content {
      opacity: 1;
    }
  }
  &:hover {
    overflow: visible;
    #{$self}-content {
      opacity: 1;
    }
  }

  &-content {
    z-index: 10;
    background: $colorBg;
    @include shadow-tooltip();
    box-sizing: border-box;
    border-radius: $radius;
    color: $colorText;
    max-width: 320px;
    min-width: 176px;
    padding: 4px;
    position: absolute;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    &-close {
      padding-top: 32px;
    }
    &-close-btn {
      position: absolute;
      top: 8px;
      right: 8px;
      cursor: pointer;
    }
    &::before {
      z-index: -1;
      background: $colorBg;
      content: "";
      height: 8px;
      position: absolute;
      transform: rotate(45deg);
      width: 8px;
    }
  }

  &-top {
    #{$self}-content {
      bottom: calc(100% + 16px);
      left: 50%;
      transform: translateX(-50%);
      &::before {
        bottom: -4px;
        left: 50%;
        margin-left: -4px;
      }
    }
  }
  &-bottom {
    #{$self}-content {
      top: calc(100% + 16px);
      left: 50%;
      transform: translateX(-50%);
      &::before {
        top: -4px;
        left: 50%;
        margin-left: -4px;
      }
    }
  }

  &-right {
    #{$self}-content {
      left: calc(100% + 16px);
      top: 50%;
      transform: translateY(-50%);
      &::before {
        left: -4px;
        margin-top: -4px;
        top: 50%;
      }
    }
  }
  &-left {
    #{$self}-content {
      right: calc(100% + 16px);
      top: 50%;
      transform: translateY(-50%);
      &::before {
        right: -4px;
        margin-top: -4px;
        top: 50%;
      }
    }
  }
}
